.node-projecte-artistic,
.node-page {
  p {
    margin-left: 60px;
  }
  .cos-text {
    margin-left: 60px;
  }
  .tit_pagina h2 {
    @include titol_bg($m,$bg:$rosa);
    @include titol();
    color: $blanc;
    display: inline-block;
    padding-left: 83px;
    padding-right: 15px;
    margin-left: -83px;
    font-size: 30px;
    line-height: normal;
    position: relative;
  }
  .entradeta p {
    @include estil_reset();
    font-size: 19px;
    margin-left: 60px;
    margin-top:0;
    line-height: 21px;
  }
  .field-name-field-destacat-lateral .field-item {
    font-size: 25px;
    color: $verd1; 
    line-height: 27px;
    font-weight: 800;
    margin-bottom: 30px;
    @include cita();
  }
}

