#mm-node-region {
  /** etils generals **/
  background-color: $negre;
  h5.multimedia-title {
    @include tit_multimedia();
  }
  figcaption div,
  figcaption {
    @include peus_multimedia();
    a {
      color: $gris1;
    }
  }

  /** esitls per regions **/
  #video-wrapper {
    .main {
      figure,
      figcaption,
      figure audio,
      figure video{
        max-width: 100%;
        width: 100%;
      }
    }
   .pager {
     position: relative;
      figure,
      figcaption,
      figure audio,
      figure video{
        //width: 50%;
        //max-width: 50%;
      }
      figcaption {
        width: 100%;
        max-width: 100%;
        white-space: normal;
        text-align: left;
        a {
          display: none;
        }
      }
      .carousel-pager {
        @include bg_sprite();
        height: 50%;
        top: 25%;
        width: 20px;
        position: absolute;
        cursor: pointer;
        &.carousel-pager-prev {
          background-position: 0 0;
          left: 0px;
        }
        &.carousel-pager-next {
          background-position: 0 0;
          right: 0px;
        }
      }

    }
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid $blanc;
  }
  #audio-wrapper {
    border-bottom: 1px solid $blanc;
    margin-bottom: 17px;
    padding-bottom: 17px;
  }
  #images-wrapper {
    margin-left: 0px;
    .main {
      figure,
      figure img {
        width: 100%;
        height: auto;
      }
    }
    h5 {
      margin-top: 12px;
    }
    .pager {
      position: relative;
      figure {
        width: 20%;
        img {
          max-height: 150px;
          width: auto;
        }
      }
    }
    .carousel-pager {
      @include bg_sprite();
      height: 50%;
      top: 25%;
      width: 20px;
      position: absolute;
      cursor: pointer;
      &.carousel-pager-prev {
        background-position: 0 0;
        left: 0px;
      }
      &.carousel-pager-next {
        background-position: 0 0;
        right: 0px;
      }
    }
  }
}
