body.node-type-fitxa-espectacle article.node-fitxa-espectacle {
  header {
    margin-top: 32px;
    #top-left4-wrapper {
      #top-left3-wrapper{
        div {
          //padding-right: $column_padding;
        }
        #supraheader {
          .sala {
            font-size: 25px;
            color: $blau1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
          }
          .data {
            font-size: 25px;
            color: $color_text;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
          }
          border-bottom: 1px solid $color_bora;
        }
        .title-region {
          h2 {
            @include titol();
            margin: 0px;
            line-height: 100%;
          }
          h3 {
            @include sub_titol();
            margin: 0px 0 5px;
            line-height: 100%;
          }
          border-bottom: 1px solid $color_bora;
        }
        .moreinfo-region {
          h4{
            @include tit_autor();
            margin: 5px 0px 15px;
          }
          h5{
            @include tit_director();
            margin: 0px;
          }
        }
      }
    }
    #sessions {
      div {
        //padding: 0 $column_padding;
      }
      .views-row div {
        display: inline;
      }
      .view-id-sessions_node.view-display-id-entity_view_1 .view-header {
        @include tit_mig;
        text-transform: uppercase;
        border-bottom: 1px solid $color_bora;
      } 
      .view-id-sessions_node.view-display-id-entity_view_2 .view-header {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin-top: 17px;
      }
      .view .view-content {
        .field-name-field-dia-sessio span {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
        }
        .views-field-nothing {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
      .field-name-field-durada {
        /** forcem el display block per ppoder posar marge superior **/
        display: block;
        margin-top: 17px;
        .field-label,
        .field-items div,
        .field-items {
          display: inline;
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
    }
    #tarifes {
      .view-id-eva_taxo_tarifes.view-display-id-entity_view_1 {
        .view-header {
          @include tit_mig;
          text-transform: uppercase;
          border-bottom: 1px solid $color_bora;
        }
        .view-content {
          .views-row {
            $zen-gutter-width:  0px;
            $zen-column-count: 8;
            @include zen-grid-container();
            border-bottom: 1px solid $color_bora;
            &:last-child {
              border-bottom: 0px none;
            }
            .views-field-field-preu-1 {
              @include zen-grid-item(2,7);
              span,
              div {
                float: right;
                @include tit_mig;
                line-height: 17px;
              }
            }
            .field-name-field-nom {
              @include zen-grid-item(6,1);
              div {
                @include tit_mig;
                text-transform: uppercase;
                line-height: 17px;
              }
            }
            .views-field-field-descripcio-tarifa {
              @include zen-grid-item(6,1);
              * {
                font-size: 10px;
                line-height: 15px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
              }
            }
          }
        }
      }
      .field-name-field-url-compra-reserva {
        margin-bottom: 17px;
        a {
        @include boto();
        }
      }
    }
  }
  #main-wrapper {
    #right-col /*> div*/{/*Jude comenta*/
      h3.col-title {
        @include sub_titol();
        @include bora_top;
        @include bora_bot;
        padding: 5px 0;
        margin: 0;
      }
      .field-name-field-entorn {
        .field-label {
          display: none;
        }
        article.node {
          @include caixa_petita;
        }
      }

    }
    #text-wrapper{
      .separator-left {
        @include bora_top();
        display: block;
        height: 0px;
      }
      .tnc-tabs {
        .tnc-tab {
          cursor: pointer;
          @include pestanya_inactiva();
          &.active {
            @include pestanya_activa();
          }
        }
      }
      #main-text-wrapper,
      #moreinfo-wrapper {
        .destacats-wrapper {
          .field-name-field-destacats .field-items .field-item {
            background-color: $gris5;
            margin: 25px 0 30px 0;
            .field-name-field-text .field-items .field-item {
              @include cita();
              @include destacat();
              padding: 30px 30px 0 30px;
            }
            .field-name-field-enllac .field-items .field-item {
              @include destacat();
              font-size: 13px;
              padding: 10px 30px 30px 30px;
              text-align: right;
            }
          }
        }
        h5.field-title {
          @include tit_mig;
          text-transform: uppercase;                              
          border-bottom: 1px solid $color_bora;
          border-top: 1px solid $color_bora;
        }
        .artista-carrec-left {
          .field-name-field-artista-carrec .field-collection-item-field-artista-carrec a {
            display: none;
          }
          .field-name-field-artista-carrec {
            .field-collection-item-field-artista-carrec.carrec-tid-15,
            .field-collection-item-field-artista-carrec.carrec-tid-9 {
              .field-name-field-carrec a {
                @include estil_reset();
                line-height: 17px;
                color: $titols_b; 
                display: block;
              }
              .field-name-field-artista a {
                @include estil_reset();
                line-height: 17px;
                color: $titols_b;
                font-weight: 700;
                display: block;
              }
            }
          }
        }
        .field-name-field-artista-carrec {
          .field-collection-item-field-artista-carrec {
            .field-name-field-carrec a {
              line-heigh: 17px;
              font-weight: 800;
            }
            .field-name-field-artista a {
              line-height: 17px;
            }
          }
          .carrec-tid-15.field-collection-item-field-artista-carrec,
          .carrec-tid-9.field-collection-item-field-artista-carrec {
            .field-name-field-artista a,
            .field-name-field-carrec a {
              display: none;
            }
          }
        }
      }
        
    }
  }


}
