.front #mm-node-region {
  display: none; //jude added
}
#mm-node-region {
  .field-name-field-imatge-capcalera img{
    width: 100%;
    min-height: 600px;
    min-width: 1200px;
  }
  /** estils generals **/
  background-color: $negre;
  min-height: 600px;
  /** fixem un maxim d'alt per la imatge **/
  max-height: 600px;
  overflow: hidden;

  h5.multimedia-title {
    @include tit_multimedia();
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  figcaption div,
  figcaption {
    @include peus_multimedia();
    a {
      color: $gris1;
    }
    margin-top: 8px;
  }

  /** esitls per regions **/
  #video-wrapper {
    h5 {
      margin: 6px 0 0 0;
      line-height: 18px;
    }
    .main {
      figure,
      figcaption,
      figure audio,
      figure video{
        max-width: 100%;
        width: 100%;
      }
      margin-bottom: 13px;
      margin-top: 8px;
      height: 175px;
      min-height: 175px;
      max-height: 175px;
      figure .mejs-video{
        height: 140px;
        min-height: 140px;
        max-height: 140px;
      }
    }
   .pager {
     position: relative;
     height: 105px;
      figure,
      figcaption,
      figure audio,
      figure video{
        //width: 50%;
        //max-width: 50%;
      }
      figure {
        vertical-align: top;
        width: 45%;
        img {
          height: 65px;
          width: 95%;
        }
      }
      figcaption {
        width: 95%;
        max-width: 100%;
        white-space: normal;
        text-align: left;
        margin-top: 0px;
        a {
          display: none;
        }
      }
    }
    .outer-pager {
      position: relative;
    }
    .carousel-pager {
      @include bg_sprite();
      top: 20%;
      width: 20px;
      height: 30px;
      position: absolute;
      cursor: pointer;
      &.carousel-pager-prev {
        background-position: -30px -30px;
        left: -20px;
      }
      &.carousel-pager-next {
        background-position: -10px -30px;
        right: -20px;
      }
    }

    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid $blanc;
  }
  #audio-wrapper {
    border-bottom: 1px solid $blanc;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    h5 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    figure {
      width: 95%;
      margin-bottom: 12px;
    }
    figcaption {
      margin-top: 0px;
      margin-bottom: 12px;
    }
    a {
    }
  }
  #images-wrapper {
    margin-bottom: 24px;
    .main {
      figure,
      figure img {
        width: 100%;
        height: auto;
      }
    }
    h5 {
      margin-top: 7px;
      margin-bottom: 7px;
      padding-left: 40px;
      padding-left: 40px !important;
    }
    #img-dwl-lnk {
      display: block;
      float: right;
      cursor: pointer;
      position: absolute;
      right: 25%;
      margin-top: 10px;
    }
    .pager {
      position: relative;
      height: 65px;
      width: 20%;
      .cycle-carousel-wrap {
        //width: 75%;
        figure {
          width: 20% !important;
          height: 65px;
          overflow: hidden;
          padding: 0 4px;
          .img-wrapper {
            width: 20%;
            min-width: 100px;
            max-width: 300px;
          }
          img {
            //max-height: 150px;
            width: auto;
            max-width: 160%;
          }
        }
      }
    }
    .carousel-pager {
      @include bg_sprite();
      top: 25%;
      width: 20px;
      height: 30px;
      position: absolute;
      cursor: pointer;
      &.carousel-pager-prev {
        background-position: -30px -30px;
        left: 0px;
      }
      &.carousel-pager-next {
        background-position: -10px -30px;
        right: 0px;
      }
    }
    .cycle-carousel-wrap {
      margin-left: 40px !important;
    }
  }
  #document-wrapper {
    h5 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    div {
      width: 100%;
    }
    a {
      @include peus_multimedia();
      width: 95%;
    }
    padding-bottom: 8px;
    border-bottom: 1px solid white;
  }
  /**
   * efecte linia mes ample
   */
  #document-wrapper,
  #audio-wrapper,
  #video-wrapper {
    width: 108%;
    margin-left: -4%;
    padding-left: 4%;
    padding-right: 4%;
  }

}
