body.node-type-fitxa-espectacle article.node-fitxa-espectacle,
body.node-type-fitxa-entorn article.node-fitxa-entorn, 
body.node-type-fitxa-premsa article.node-fitxa-premsa {
  header {
    margin-top: 32px;
    #top-left4-wrapper {
      #top-left3-wrapper{
        div {
          //padding-right: $column_padding;
        }
        #supraheader {
          padding-bottom: 5px;
          .sala {
            font-size: 25px;
            color: $blau1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
          }
          .data {
            font-size: 25px;
            color: $color_text;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
          }
          border-bottom: 1px solid $color_bora;
        }
        .title-region {
          h2 {
            @include titol();
            margin: 5px 0;
            line-height: 100%;
          }
          h3 {
            @include sub_titol();
            margin: 0px 0 10px;
            line-height: 100%;
          }
          border-bottom: 1px solid $color_bora;
        }
        .moreinfo-region {
          h4{
            @include tit_autor();
            margin: 10px 0px 0px;
          }
          h5{
            @include tit_director();
            margin: 0px;
          }
        }
      }
    }
    #sessions {
      margin-top: 5px;
      div {
        //padding: 0 $column_padding;
      }
      .views-row div {
        display: inline;
      }
      .press-conf,
      .view-id-sessions_node.view-display-id-entity_view_3 .view-header,
      .view-id-sessions_node.view-display-id-entity_view_1 .view-header {
        @include tit_mig;
        text-transform: uppercase;
        border-bottom: 1px solid $color_bora;
        padding-bottom: 5px;
      } 
      .view-id-sessions_node.view-display-id-entity_view_2 .view-header {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin-top: 10px;
      }
      .field-name-field-entrada .field-items .field-item {
        font-weight: 700;
      }
      .field-name-field-dia,
      .field-name-field-hora {
        .field-label,
        .field-items {
          display:inline-block;
        }
        .field-items {
          margin-right: 140px;
        }
      }
      .field-name-field-entrada,
      .view .view-content {
        margin: 10px 0 10px;
        .field-name-field-dia-sessio span {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
        }
        .views-field-nothing {
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
      .field-name-field-entrada {
        margin: 10px 0 5px;
      }
      .field-name-field-durada {
        /** forcem el display block per ppoder posar marge superior **/
        display: block;
        margin-top: 10px;
        .field-label,
        .field-items div,
        .field-items {
          display: inline;
          font-size: 13px;
          line-height: 17px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
      /**especifiquem estils pel block sessions de premsa*/
      
      .views-label.views-label-field-dia-sessio.press {
        font-weight: 700;
      }
      .view-display-id-entity_view_3 .view-content .field-name-field-dia-sessio span {
        font-weight: 400;
      }
      .view-display-id-entity_view_3 .views-field.views-field-field-hora-sessio {
        display: block;
        .views-label-field-hora-sessio.press {
          font-weight: 700;
        }
      }
    }
    #right-col-premsa {
      #parent_espectacle {
        margin-top: 30px;
      }
      h3.col-title {
        @include sub_titol();
        @include bora_top;
        @include bora_bot;
        padding: 5px 0;
        margin: 0;
        text-align: left;
      }
      .field-name-field-entorn {
        .field-label {
          display: none;
        }
        .entorn_lateral {
          @include caixa_petita;
          margin: 25px 0;
        }
      }
      .view-eva-espectacle .views-row {/*article.node {*/
        @include caixa_petita;
        margin: 25px 0;
        .field-name-field-autor div {
          text-transform: uppercase;
        }
        .field-name-field-rol-destacat div {
          text-transform: none;
        }
        .field-name-field-url-compra-reserva a {
          margin-top: 5px;
        }
        .views-field-view {
          padding-top: 30px;
          background-color: $blanc;
        }
      }
    }
    #tarifes {
      margin-top: 5px;
      .view-id-eva_taxo_tarifes.view-display-id-entity_view_1 {
        .view-header {
          @include tit_mig;
          text-transform: uppercase;
          border-bottom: 1px solid $color_bora;
          padding-bottom: 5px;
        }
        .view-content {
          margin-top: 10px;
          .views-row {
            $zen-gutter-width:  0px;
            $zen-column-count: 8;
            @include zen-grid-container();
            border-bottom: 1px solid $color_bora;
            margin: 5px 0 10px;
            &:last-child {
              border-bottom: 0px none;
            }
            .views-field-field-preu-1 {
              @include zen-grid-item(2,7);
              span,
              div {
                float: right;
                @include tit_mig;
                line-height: 17px;
              }
            }
            .field-name-field-nom {
              @include zen-grid-item(6,1);
              div {
                @include tit_mig;
                text-transform: uppercase;
                line-height: 17px;
                margin-bottom: 10px;
              }
            }
            .views-field-field-descripcio-tarifa {
              @include zen-grid-item(6,1);
              * {
                font-size: 10px;
                line-height: 15px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
              }
              p {
                margin-bottom: 7px;
                margin-top: 20px;
              }
            }
          }
        }
      }
      .field-name-field-url-compra-reserva {
        margin-bottom: 17px;
        a {
        @include boto();
        height: 29px;
        line-height: 29px;
        min-height: 29px;
        }
      }
    }
  }
  #main-wrapper {
    margin-top: 17px;
    #right-col {
      h3.col-title {
        @include sub_titol();
        @include bora_top;
        @include bora_bot;
        padding: 5px 0;
        margin: 0;
        text-align: left;
      }
      .field-name-field-entorn {
        .field-label {
          display: none;
        }
        .entorn_lateral {
          @include caixa_petita;
          margin: 25px 0;
        }
      }
      .view-eva-espectacle .views-row {/*article.node {*/
        @include caixa_petita;
        margin: 25px 0;
        .field-name-field-autor div {
          text-transform: uppercase;
        }
        .field-name-field-rol-destacat div {
          text-transform: none;
        }
        .field-name-field-url-compra-reserva a {
          margin-top: 5px;
        }
        .views-field-view {
          padding-top: 30px;
          background-color: $blanc;
          h3 {
          }
        }
      }
    }
    #text-wrapper{
      .separator-left {
        @include bora_top();
        display: block;
        height: 0px;
      }
      .tnc-tabs {
        .tnc-tab {
          position: relative;
          cursor: pointer;
          @include pestanya_inactiva();
          &.active {
            @include pestanya_activa();
            &:before {
              @include bg_sprite();
              position: absolute;
              width: 28px;
              height: 28px;
              content: " ";
              display: block;
              top: 39px;
              background-position: -60px -102px;
            }
          }
        }
      }
      #main-text-wrapper,
      #moreinfo-wrapper {
        .destacats-wrapper {
          margin-top: 35px;
          .field-name-field-destacats .field-items .field-item {
            background-color: $gris5;
            margin: 0 0 25px 0;
            .field-name-field-text {
              .field-items {
                margin-bottom: -15px;
                .field-item {
                  @include cita();
                  @include destacat();
                  padding: 30px 30px 0 30px;
                 }
               }
             }
            .field-name-field-enllac .field-items .field-item {
              @include destacat();
              font-size: 13px;
              padding: 10px 30px 20px 30px;
              text-align: right;
            }
          }
        }
        .presentation-col {
          margin-top: 10px;
        }
        h5.field-title {
          @include tit_mig;
          text-transform: uppercase;                              
          border-bottom: 1px solid $color_bora;
          border-top: 1px solid $color_bora;
        }
        .artista-carrec-left {
          .field-name-field-artista-carrec .field-collection-item-field-artista-carrec {
            display: none;
          }
          .field-name-field-artista-carrec {
            .field-collection-item-field-artista-carrec.carrec-tid-110,
            .field-collection-item-field-artista-carrec.carrec-tid-12,
            .field-collection-item-field-artista-carrec.carrec-tid-106,
            .field-collection-item-field-artista-carrec.carrec-tid-88 {
              display: block;
              .field-name-field-carrec a {
                @include estil_reset();
                line-height: 19px;
                color: $titols_b; 
              }
              .field-name-field-artista {
//                margin-bottom: 10px;
                a {
                  @include estil_reset();
                  line-height: 19px;
                  color: $titols_b;
                  font-weight: 700;
                  display: block;
                }
              }
            }
          }
        }
        .field-name-field-artista-carrec {
          .field-collection-item-field-artista-carrec {
            .field-name-field-carrec a {
              line-heigh: 19px;
              font-weight: 800;
            }
            .field-name-field-artista {
              margin-bottom: 10px;
              a {
                line-height: 19px;
              }
            }
          }
          .carrec-tid-110.field-collection-item-field-artista-carrec,
          .carrec-tid-12.field-collection-item-field-artista-carrec,
          .carrec-tid-106.field-collection-item-field-artista-carrec,
          .carrec-tid-88.field-collection-item-field-artista-carrec {
            display: none;
            .field-name-field-artista a,
            .field-name-field-carrec a {
            }
          }
        }
      }
        
    }
    #xxss-wrapper {
      margin-top: 30px;
      .easy_social_box {
        margin-bottom: 10px;
        .easy_social-widget-facebook {
          iframe {
            width: 126px !important;
            height: 25px !important;
          }
        }
      }
      #xxss-external-content {
        .block-title.facebook {
          @include xxss;
          &:before {
            @include xxss_icon;
          }
        }
        .facebook-comments-box {
          margin-top: 25px;
        }
        .block-twitter {
          .block-title.twitter {
            @include xxss;
            &:before {
              @include xxss_icon;
              background-position: -60px 0;
            }
          }
          .field-name-field-hashtag-tw {
            .tweets-pulled-listing {
              #header-tw {
                border-bottom: 1px solid $gris4;
                h2 {
                  font-size: 18px;
                  color: $gris1;
                  font-weight: 700;
                  line-height: 20px;
                }
                .follow {
                  margin-top: 20px;
                  text-align: right;
                }
              }
            }
          }
        }
      }

    }
  }
}
