#mm-node-region {
  .field-name-field-imatge-capcalera img{
    width: 100%;
  }
  /** etils generals **/
  background-color: $negre;
  min-height: 600px;
  h5.multimedia-title {
    @include tit_multimedia();
    margin-top: 12px;
    margin-bottom: 6px;
  }
  figcaption div,
  figcaption {
    @include peus_multimedia();
    a {
      color: $gris1;
    }
    margin-top: 8px;
  }

  /** esitls per regions **/
  #video-wrapper {
    .main {
      figure,
      figcaption,
      figure audio,
      figure video{
        max-width: 100%;
        width: 100%;
      }
      margin-bottom: 18px;
    }
   .pager {
     position: relative;
     height: 118px;
      figure,
      figcaption,
      figure audio,
      figure video{
        //width: 50%;
        //max-width: 50%;
      }
      figure {
        vertical-align: top;
        img {
          width: 95%;
        }
      }
      figcaption {
        width: 95%;
        max-width: 100%;
        white-space: normal;
        text-align: left;
        a {
          display: none;
        }
      }
    }
    .outer-pager {
      position: relative;
    }
    .carousel-pager {
      @include bg_sprite();
      top: 20%;
      width: 20px;
      height: 30px;
      position: absolute;
      cursor: pointer;
      &.carousel-pager-prev {
        background-position: -30px -30px;
        left: -20px;
      }
      &.carousel-pager-next {
        background-position: -10px -30px;
        right: -20px;
      }
    }

    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid $blanc;
  }
  #audio-wrapper {
    border-bottom: 1px solid $blanc;
    margin-bottom: 17px;
    padding-bottom: 17px;
    position: relative;
    figure {
      width: 95%;
      margin-bottom: 12px;
    }
    figcaption {
      margin-bottom: 12px;
    }
    a {
    }
  }
  #images-wrapper {
    margin-bottom: 24px;
    .main {
      figure,
      figure img {
        width: 100%;
        height: auto;
      }
    }
    h5 {
      margin-top: 12px;
      padding-left: 40px;
      padding-left: 40px !important;
    }
    .pager {
      position: relative;
      figure {
        width: 20%;
        padding: 0 4px;
        img {
          max-height: 150px;
          width: auto;
        }
      }
    }
    .carousel-pager {
      @include bg_sprite();
      top: 25%;
      width: 20px;
      height: 30px;
      position: absolute;
      cursor: pointer;
      &.carousel-pager-prev {
        background-position: -30px -30px;
        left: 0px;
      }
      &.carousel-pager-next {
        background-position: -10px -30px;
        right: 0px;
      }
    }
    .cycle-carousel-wrap {
      margin-left: 40px !important;
    }
  }
  #document-wrapper {
    div {
      width: 100%;
    }
    a {
      @include peus_multimedia();
      width: 95%;
    }
  }
  /**
   * efecte linia mes ample
   */
  #document-wrapper,
  #audio-wrapper,
  #video-wrapper {
    width: 108%;
    margin-left: -4%;
    padding-left: 4%;
    padding-right: 4%;
  }

}
