@import "compass/css3";

//$min-height-mm: 800px;
$min-height-mm: 585px;
$main-tab-height: 842px;
//$main-tab-top: 650px;
$main-tab-top: 434px;
$min-tab-height: 200px;
$min-tab-top: 800px;
$inclinacio: 2deg;

body.front #mm-wrapper {
  $zen-gutter-method: "margin";
  $zen-column-count:  5;
  $zen-gutter-width:  80px;
  @include zen-grid-container();
  display: block;
  height: $min-height-mm;
  position: relative;
  .view-id-carrousel.view-display-id-block_5 {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  /** bola de passar slide **/
  .passive .mm-next-slide {
    display: none;
  }
  .mm-next-slide {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url('../images/canvislide.png');
    background-repeat: no-repeat;
    right: 8%;
    bottom: -11px;
    position: absolute;
    z-index: 8005; //sempre a sobre de tot
  }
  .view-id-carrousel.view-display-id-block_5 .field-content-2wrapper,
  .view-id-carrousel.view-display-id-block_5 .field-content {
    cursor: pointer;
  }


  .views-row.passive .views-field-nothing {
    @include zen-grid-item(5, 1);
    @include transform-origin(-300px, 50%);
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-height: $min-height-mm;
    // correccions
    width: 100%;
    &> .field-content {
      width:  100%;
      @include zen-grid-container();
      /// efecte de gir **/
      .field-name-field-imatge-capcalera {
        @include zen-grid-item(5, 1);
        margin: 0px;
        padding: 0px;
        .field-item {
          display: block;
          // quiron correccio salt final animacio
          position: absolute;
          //bottom: 0px;
          //position: relative;
          //left: -5px;
          //top: -5px;
          width: 111%; // ajustem tamany de la imatege per lefecte dentrada
          bottom: 0px;
          top: 0px;
          //overflow: hidden;
          //@include rotate(3deg);
          //padding: 0 100px; // talls laterals
          //margin: -400px -100px 0 -100px;
          img {
            //top: 400px; // compensacio
            display: block;
            //z-index: -1;
            //@include rotate(-3deg); // compensacio
            width: 100%;
            //position: relative;
            position: absolute;
            bottom: 0px;
          }
        }
      }
      .tab.tab-small {
        padding: 0px;
        display: block;
        height: auto;// $min-tab-height; jude comenta
        //top:680px;// $min-tab-top; jude comenta
        top: 490px;// $min-tab-top; jude comenta
        overfloww: hidden;
        // sobreescrivim aqui right per tenirho junt via js
        //right: 11%;
        

      }
      //@include zen-clear();
    }
  }

  /** contenidor creat per ubicar la fletxa de canvi */
  .field-content-2wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

  .views-row.active .views-field-nothing {
    @include zen-grid-item(5, 1);
    @include transform-origin(-300px, 50%);
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 100;
    //min-height: $min-height-mm;
    &> .field-content {
      width:  100%;
      @include zen-grid-container();
      /// efecte de gir **/
      display: block;
      // quiron
      //position: absolute;
      // canviem per posicionar la fletxa de canvi de diapo
      position: relative;
      width: 100%;
      @include rotate($inclinacio);
      border-bottom: 2px solid white;
      padding: 0 100px; // talls laterals
      margin: -400px -100px 0 -100px;
      // quiron ultim diseny...
      //height: 1010px; //900px;
      height: $main-tab-height;

      & > div > * {
        @include rotate(-$inclinacio); // compensacio
      }
      .field-name-field-imatge-capcalera {
        @include zen-grid-item(5, 1);
        margin: 0px;
        padding: 0px;
        .field-item {
          // compensacio
          position: relative;
          top: -3px;
          //left: -5px;
         img {
            top: 400px; // compensacio
            display: block;
            z-index: -1;
            width: 110%;
            position: relative;
            //right: -20px; //AJUISTar js?
          }
        }
      }
      .tab.tab-big {
        //@include zen-grid-item(1, 4);
        padding: 0px;
        display: block;
        height: 100%;//$main-tab-height;
        top: $main-tab-top;
        //quiron correccio de desplacament via js
        //right: 22%;
      }
      //@include zen-clear();
    }
  }

  .views-row.passive-in .views-field-nothing {
    @include zen-grid-item(5, 1);
    @include transform-origin(-300px, 50%);
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 100;
    min-height: $min-height-mm;
    // correccions 
    //min-height: 735px;
    height: 100%;
    bottom: 0px;
    width: 110%;
    //top: -150px;
    @include rotate(-180deg);
    &> .field-content {
      .field-content-2wrapper {
        height: 156px;
        bottom: 0px;
      }
      width:  100%;
      @include zen-grid-container();
      /// efecte de gir **/
      .field-name-field-imatge-capcalera {
        @include zen-grid-item(5, 1);
        margin: 0px;
        padding: 0px;
        .field-item {
          display: block;
          //position: absolute;
          width: 100%;
          overflow: hidden;
          @include rotate($inclinacio);
          padding: 0 100px; // talls laterals
          margin: 0 -100px ;
          top: 600px;
          border-top: 2px solid white;
          img {
            bottom: 450px; // compensacio
            display: block;
            z-index: -1;
            @include rotate(-$inclinacio); // compensacio
            width: 100%;
            position: relative;
            //right: 32px; //AJUISTar js?
            margin-left: -30px; //AJUSTAR
          }
        }
      }
      .tab {
        //@include zen-grid-item(1, 5);
        padding: 0px;
      }
      //@include zen-clear();
    }
  }

  .views-row.active  .views-field-nothing,
  .views-row.passive .views-field-nothing,
  .views-row.passive-in .views-field-nothing {
    .tab {
      position: absolute;
      //background-color: $blau2;
      z-index: 9999;
      width: 250px;
      @include caixa_dig($fons_actiu );
      padding: 0px;
      right: 20%;
      display: none;
    }
  }
  /** intent de igualacio de img en base sobre-escriptura **/
  .views-row.active  .views-field-nothing,
  .views-row.passive .views-field-nothing,
  .views-row.passive-in .views-field-nothing {
    .field.field-name-field-imatge-capcalera.field.field.field.field.field.field.field {
      img {
        width: 110%;
        min-width: 1200px;
        min-height: 600px;
      }
    }
  }
  .views-row.passive .views-field-nothing .field.field-name-field-imatge-capcalera.field.field.field.field.field.field.field img{
    top: 0px;
  }

 

}
