#page {
  margin-top: 0px;

  #name-and-slogan {
    display: none;
  }
  #main {
    margin-bottom: 48px;
    z-index: 990000; //evitem problemes de solapament amb el mm
  }
}
body.page-user,
body.logged-in {
  #page #mm-wrapper {
    display: none;
  }
}
body {
  #header {
     /*Switcher idioma*/
    #block-locale-language {
      float: right;
      margin: 0;
      h2.block__title.block-title {
        display: none;
      }
      ul {
        list-style: none;
        margin: 10px 0;
        li {
          display: inline-block;
          font-size: 11px;
          text-transform: uppercase;
          &.active {
            font-weight: 700;
          }
          a:hover {
            text-transform: uppercase;
          }
          a {
            padding: 0 8px;
            line-height: 19px;
            vertical-align: middle;
            border-right: 1px solid $gris2;
          }
          &.last a {
            border-right: 0px none;
          }
        }
      }
    }
    #logo-gencat {
      display: block;
      width: auto;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      float: left;
      img {
        vertical-align: middle;
        display: inline;
        line-height: 40px;
      }
    }
  }    /*Block XXSS*/
  #mm-wrapper {
    .xxss-wrapper {
      // quiron changed fro absolute
      // positioning an control z-index
      // posicio relativa al mm-wrapper
      //position: relative;
      position: absolute;
      //top: -53px;
      top: -35px;
      z-index: 1010;
      width: 190px;
      //float:left;
      margin-left: 50px;
      height: 0;
      $zen-column-count:5;
      @include zen-grid-container();
      .fb {
        @include zen-grid-item(1,1);
        a {
          color: $gris4; 
          @include bg_sprite;
          width: 28px;
          height: 28px;
          background-position: 0px 0px;
          position: absolute;
        }
      }
      .tw {
        @include zen-grid-item(1,2);
        a {
          color: $gris4; 
          @include bg_sprite;
          width: 28px;
          height: 28px;
          background-position: -60px 0px;
          position: absolute;
        }
      }
      span.instagram {
        @include zen-grid-item(1,3);
        a {
          color: $gris4; 
          @include bg_sprite;
          width: 28px;
          height: 28px;
          background-position: -30px 0px;
          position: absolute;
        }
      }
      span.youtube {
        @include zen-grid-item(1,4);
        a {
          color: $gris4; 
          @include bg_sprite;
          width: 28px;
          height: 28px;
          background-position: -90px 0px;
          position: absolute;
        }
      }
      span.feed {
        @include zen-grid-item(1,5);
        a {
          color: $gris4; 
          @include bg_sprite;
          width: 28px;
          height: 28px;
          background-position: -30px 0px;
          position: absolute;
        }
      }
    }
  }
  &.front #mm-wrapper .xxss-wrapper {
    // corregim la posicio per que a portada el 
    // mm-wrapper es relative enlloc d'absolute per tant
    // el top ha de ser diferent
    top: -35px;
  }
 
}

