body.front {
  #main {
    padding-top: 15px;
/* Barra calendari home*/
    .view-id-cal_m_bil_home,
    .view-calendar {
      margin-top: 20px;
      .view-header {
        .date-nav.item-list {
          margin: 0;
          padding: 0;
        }
        .pager {
          .date-heading h3 {
            word-spacing: 2px;
            font-size: 13px;
          }
          .date-prev,
          .date-next {
            display: none;
          }
        }
      }
      .view-content {
        #cal-line {
          //margin-top: 5px;
          white-space: nowrap;
          div.month-label {
            display: inline-block;
            position: relative;
            bottom: 26px;
            word-spacing: 2px;
            font-size: 13px;
            color: $gris1;
            text-transform: uppercase;
            font-weight: 800;
          }
          div.month-label + span.day {
            margin-left: -75px;
          }
          span.day.pre_month {
            /*quiron border-right: 6px solid $blanc; */
            border-right-width: 6px;
            margin-right: -8px;
          }
          span.day {
            border-radius: 0 100px 100px 0;
            margin: 0 -16px 0 0;
            /* quiron padding: 8px 14px 8px 19px; */
            padding: 7px 13px 9px 18px;
            position: relative;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            background-color: $blau1;
            /* quiron border-right: 2px solid $blanc; */
            border: 2px solid $blanc;
            span.num {
              text-decoration: none;
              font-size: 17px;
              font-weight: 700;
              color: $blanc;
              vertical-align: middle;
            }
            /*quiron*/
            &:first-child {
              padding-left: 10px;
            }
          }
          span.day.event {
            background-color: $blau3;
            span.num {
              color: $blau2;
              text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
              font-weight: 800;
              font-size: 17px;
              vertical-align: middle;
            }
            .events {
              min-height: 40px;
              position: absolute;
              //background-color: $blau3;
              bottom: 60px;
              right: 0px; //per que quedi posat al dia
              @include caixa_dig($bg:$blau4, $w:'250px',$h:'52px');
              &:before {
                margin-bottom: -40px;
                background-position: 0 -20px;
                border-radius: 10px 13px 0 0;
              }
              
              .views-field, 
              .field {
                padding-left: 20px;
                width: 230px;
                height: auto;
                .field-content,
                .field-content a {
                  color: $blau1;
                  text-transform: uppercase;
                  font-size: 11px;
                  line-height: 15px;
                  font-weight: 600;
                }
                .field-content a {
                  font-weight: 800;
                }
              }
              .field-name-field-hora-sessio {
                &:last-child {
                  border-radius: 0 0 5px 5px;
                }
                &:before {
                  @include bg_sprite();
                  content: " ";
                  width: 28px;
                  height: 28px;
                  background-position: -87px -66px;
                  position: absolute;
                  display: block;
                  //top: 104px;
                  bottom: -25px;
                  left: 200px;
                }
                .field-items .field-item {
                  color: $blau1;
                  font-size: 11px;
                  line-height: 15px;
                  font-weight: 600;
                  //min-height: 60px;
                }
              }
              .views-field-field-sala {
                height: 15px;
                padding-top: 12px;
              }
              & > div:last-child {
                padding-bottom: 20px;
              }
            }
            .events.day-1,
            .events.day-2,
            .events.day-3,
            .events.day-4,
            .events.day-5,
            .events.day-6,
            .events.day-7 {
              right: -130px;
            }
            .events.day-1 {
               .field-name-field-hora-sessio:before { left: 0px; }
             }
            .events.day-2 {
               .field-name-field-hora-sessio:before { left: 20px; }
             }
            .events.day-3 {
               .field-name-field-hora-sessio:before { left: 70px; }
             }
            .events.day-4 {
               .field-name-field-hora-sessio:before { left: 110px; }
             }
            .events.day-5 {
               .field-name-field-hora-sessio:before { left: 140px; }
             }
            .events.day-6 {
               .field-name-field-hora-sessio:before { left: 180px; }
             }
            .events.day-7 {
               .field-name-field-hora-sessio:before { left: 220px; }
             }
          }
          span.day.cal_link {
            display: inline-block;
            color: $blau3;
            background-color: $blau3;
            top: 1px;
            height: 18px;
            margin-left: -8px;
            a {
              color: $blau3;
              @include bg_sprite();
              background-position: 0px -66px;
              width: 28px;
              height: 28px;
              margin-right: -3px;
              padding-right: 22px;
            }
          }
        }
      }
    }
/* Avisos portada */
    .view-avis-portada {
      .view-content {
        border: 3px solid $rosa;
        margin-top: 10px;
        border-radius: 10px;
        background-color: $rosa;
        margin-left: 20px;
        .field-item p{
          text-transform: uppercase;
          font-weight: 800px;
          font-size: 20px;
          color: #000000;
          text-align: center;
        }
      }
    }


/* Carrousel teletips*/    
    .view-carrousel.view-display-id-block_7 {
      .jcarousel-skin-default .jcarousel-container-horizontal {
        width: 100%;
        padding-right: 0px;
        padding-left: 0;
        .jcarousel-clip-horizontal {
          width: 100%;
          height: 80px;
          li {
            border: none;
            background-color: $gris5;
            height: auto;
            .field-name-field-imatge {
              display: inline-block;
              float: left;
              .field-item {
                margin-top: 4px;
                img {
                  height: 65px !important;
                }
              }
            }
            .field-name-body {
              .field-item {
                p {
                  float: left;
                  font-size: 19px;
                  color: $rosa;
                  margin-left: 15px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        /* treiem les fletxetes */
        & > a {
          display: none;
        }
        /* theaming del pager */
        ul.jcarousel-navigation {
          position: absolute;
          right: 60px;
          bottom: 60px;
          li a span {
            display: inline-block;
            @include border-radius(100%);
            width: 8px;
            height: 8px;
            overflow: hidden;
            text-indent: -9999999px;
            background-color: $gris1;
          }
          li.active a span{
            background-color: $destacat;
          }
        }
      }
    }
    .view-carrousel.view-display-id-block_3,
    .view-carrousel.view-display-id-block_1 {
      height: 360px;
      .view-content {
        .jcarousel-skin-default {
          .jcarousel-container.jcarousel-container-horizontal {
            width: 100%;
            padding: 0;
            .jcarousel-clip {
              width: 100%;
              ul.jcarousel {
                li.jcarousel-item {
                  height: auto;
                  border: none;
                  .views-field-nothing {
                    .field-content {
                      .tab {
                        position: absolute;
                        margin-left: 14%;
                        width: 250px;
                        text-align: left;
                        height: 500px;
                        margin-top: 2%;
                        @include caixa_dig($bg:$blanc, $w:'250px',$h:'52px');
                        &:before {
                          margin-bottom: -70px;
                          background-position: 0 -20px;
                          border-radius: 10px 13px 0 0;
                        }
                        .field-name-field-url-compra-reserva {
                          width: 235px;
                          height: 10px;
                          background-color: transparent;
                          .field-items {
                            margin-left: 84%;
                            width: 80px;
                            a {
                              @include bola_destc($t:"70px", $bg:$rosa);
                              border-radius: 50px;
                              text-transform: uppercase;
                              font-weight: 800;
                              font-size: 11px;
                            }
                          }
                        }
                        .field-name-field-sala .field-items .field-item {
                          margin-top: 20px;
                          color: $blau1;
                        }
                        .field-name-field-sala,
                        .field-name-field-data {
                          height: auto;
                          padding-left: 15px;
                          width: 235px;
                          line-height: 16px;
                          .field-items {
                            .field-item,
                            .field-item span {
                              line-height: 16px;
                              font-weight: 700;
                              text-transform: uppercase;
                            }
                          }
                        }
                        h3.titol {
                          width: 235px;
                          margin-top: 0;
                          margin-bottom: 0;
                          padding-top: 15px;
                          padding-left: 15px;
                          height: auto;
                          a {
                            font-size: 24px;
                            font-weight: 800;
                            //line-height: 34px;
                            color: $blau1;
                          }
                        }
                        .field-name-field-autor,
                        .field-name-field-rol-destacat {
                          width: 235px;
                          height: auto;
                          padding-left: 15px;
                          .field-items {
                            .field-item {
                              font-size: 13px;
                              line-height: 16px;
                              font-weight: 600;
                              text-transform: uppercase;
                            }
                          }
                        }
                        .field-name-field-autor .field-items .field-item {
                          font-weight: 800;
                          padding-top: 10px;
                        }
                        .grup_entorn {
                          width: 235px;
                          height: auto;
                          padding-left: 15px;
                          font-size: 11px;
                          font-weight: 800;
                          padding-top: 10px;
                          color: $blau1;
                          text-transform: uppercase;
                          padding-top: 5px;

                        }
                        .field-name-field-entorn {
                          height: auto;
                          width: 235px;
                          padding-left: 15px;
                          margin-top: -5px;
                          .field-items {
                            .field-item {
                              margin-top: 5px;
                              //margin-left: 15px;
                              border-bottom: 0.5px solid $bora_temporada;
                              &:last-of-type {
                                border: none;
                                padding-bottom: 50px;
                              }
                              .entorn_teaser {
                                .field-name-field-autor, 
                                .field-name-field-data,
                                .field-name-field-tipus-entorn,
                                .field-name-field-sala {
                                  display: inline-block;
                                  width: auto;
                                  margin: 0;
                                  padding: 0;
                                  .field-items {
                                    .field-item,
                                    .field-item span {
                                      font-size: 11px;
                                      line-height: 15px;
                                      font-weight: 600;
                                      margin:0;
                                      padding: 0;
                                      color: $gris0;
                                    }
                                  }
                                }
                                .field-name-field-data {
                                  .field-items {
                                    .field-item span {
                                      &:after {
                                        content: '. ';
                                      }
                                    }
                                  }
                                }
                                .field.field-name-field-sala {
                                  .field-items {
                                    div.field-item {
                                      color: $gris0;
                                      &:after {
                                        content: '. ';
                                      }
                                    }
                                  }
                                }
                                h2.node-title,
                                .field-name-field-autor {  
                                  font-size: 11px;
                                  display: inline-block;
                                  width: auto;
                                  margin: 0;
                                  padding: 0;
                                  line-height: 15px;
                                  a {
                                    font-size: 11px;
                                    font-weight: 800;
                                    color: $gris0;
                                    text-transform: uppercase;
                                    &:after {
                                      content: '. ';
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          a.jcarousel-prev.jcarousel-prev-horizontal,
          a.jcarousel-prev.jcarousel-prev-horizontal:hover {
            @include bg_sprite;
            width: 28px;
            height: 60px;
            background-position: -120px 0px;
            margin-top: 7%;
          }
          a.jcarousel-next.jcarousel-next-horizontal,
          a.jcarousel-next.jcarousel-next-horizontal:hover {
            @include bg_sprite;
            width: 28px;
            height: 60px;
            background-position: -120px -60px;
            margin-top: 7%;
          }
        }
      }
    }
    .view-carrousel.view-display-id-block_1 {
      /** quiron
       * sobreescritura pel carousel gran (block_1) per fer les
       * caixes dinamiques daltura comencant des de baix (+ js)
       */
      .view-content  .jcarousel-skin-default  .jcarousel-container.jcarousel-container-horizontal .jcarousel-clip  ul.jcarousel li.jcarousel-item {
        position: relative;
        .views-field-nothing {
          position: absolute;
          bottom: 0px; //es sobreescriu via js
          right: 300px; // ample de 250 mes una mica de marge
          .field-content {
            display: block;
            .tab {
              height: inherit;
              margin-left: inherit;
              margin-top: inherit;
            }
          }
        }
      }
    }
                      
    /** carrousel petit **/
    .view-carrousel.view-display-id-block_3 {
      height: 320px;
      margin-top: 58px;
      ul {
        padding-left: 4px;
      }
      li.jcarousel-item {
        @include caixa_petita;
        margin: 0 7px;
        .field-name-field-tipus-entorn,
        .views-field-title,
        .field-name-field-subtitol,
        .field-name-field-data {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      a.jcarousel-next.jcarousel-next-horizontal,
      a.jcarousel-next.jcarousel-next-horizontal:hover {
        height: 28px;
        background-position: -90px -90px;
        top: 26%;
      }
      a.jcarousel-prev.jcarousel-prev-horizontal,
      a.jcarousel-prev.jcarousel-prev-horizontal:hover {
        height: 28px;
        background-position: -90px -60px;
        top: 26%;
      }
      li.jcarousel-item .titsubtit_wp {
        min-height: 86px;
        margin-top: 5px;
        a {
          font-size: 14px;
          line-height: 17px;
          color: $titols_b;
          text-transform: uppercase;
          font-weight: 800;
        }
        .field-name-field-subtitol .field-item {
          color: $gris1;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      li.jcarousel-item .views-field.views-field-title {
        //min-height: 64px;
        margin-top: 26px; // per si no hi ha tipus de conferencia
      }
      // sobreescrivim si existeix el tipus dentorn
      li.jcarousel-item .field-name-field-tipus-entorn + .views-field.views-field-title {
        margin-top: 0px;
      }
      .view-content .jcarousel-skin-default {
        /** sobreescrivim els paginadors pel carrousel petit **/
        a.jcarousel-prev.jcarousel-prev-horizontal,
        a.jcarousel-prev.jcarousel-prev-horizontal:hover {
          @include bg_sprite;
          width: 30px;
          height: 30px;
          background-position: 0px -120px;
          margin-top: 7%;
        }
        a.jcarousel-next.jcarousel-next-horizontal,
        a.jcarousel-next.jcarousel-next-horizontal:hover {
          @include bg_sprite;
          width: 30px;
          height: 30px;
          background-position: -30px -120px;
          margin-top: 7%;
        }
      }
    }
    .buttons-region {
      height: auto;
      $zen-column-count:4;
      @include zen-grid-container;
      .wrapper:nth-child(1) {
        @include zen-grid-item(1,1);
      }
      .wrapper:nth-child(2) {
        @include zen-grid-item(1,2);
      }
      .wrapper:nth-child(3) {
        @include zen-grid-item(1,3);
      }
      .wrapper:nth-child(4) {
        @include zen-grid-item(1,4);
      }
      .wrapper {
        height: 65px;
        text-align: center;
        display: table;
        a {
          font-size: 19px;
          font-weight: 800;
          text-transform: uppercase;
          text-align: center;
          vertical-align: middle;
          display: table-cell;
        }
      }
    }
    .buttons-region-1 {
      .wrapper:nth-child(1), 
      .wrapper:nth-child(3) {
        background-color: $gris4;
      }
      .wrapper:nth-child(2),
      .wrapper:nth-child(4) {
        background-color: $gris5;
      }
    }
    .buttons-region-2 {
      margin-top: 15px;
      .wrapper:nth-child(1), 
      .wrapper:nth-child(3) {
        background-color: $gris5;
      }
      .wrapper:nth-child(2),
      .wrapper:nth-child(4) {
        background-color: $gris4;
      }
    }
  }
}
