/* Barra calendari home*/

body.front #main {
  .view-calendar {
    .view-content {
      #cal-line {
        span.day {
          border-radius: 0 100px 100px 0;
          color: $blanc;
          float: left;
          margin: 0 -16px 0 0;
          padding: 10px 22px 10px 15px;
          position: relative;
          text-decoration: none;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          z-index: 1;
          background-color: $blau1;
          &:before {

          }
        }
      }
    }
  }
}

