// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility


@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}


/**
 * Ictineo mixins for TNC
 * Mixins de funcionaments
 * específics
 */

/**
 * mixin caixes amb block superior diagona
 * presuposa que s'aplica a un element que conte
 * al wrapper del contingut
 *
 * param1 color de fons
 * param2 ample de la caixa
 * param3 algura de la regio superior
 */
@mixin caixa_dig($bg:$fons_actiu, $w:'250px', $h:'72px') {
  &:before {
    width: #{$w};
    content: " ";
    display: block;
    height: #{$h};
    // Aquesta aproximació controla el color de transicio, pero
    // el resultat es millor deixantho automatic al linear-gradient
    //@include background-image(linear-gradient(-165deg, transparent 50%, rgba($bg, 0.5) 50%, rgba($bg, 0.5) 50.5%, $bg 50.5%, $bg));
    // Deixem un marge per que no renderitzi en escaleta (pixelat)
    @include background-image(linear-gradient(-165deg, transparent 48%, $bg 50%, $bg));
    background-repeat: no-repeat;
    background-size: cover;
    @include border-radius(12px 12px 0 0);
    border: 1px solid pink;
  }
  & > * {
    background-color: $bg;
    width: #{$w};
    height: #{$h};
  }
}

/**
 * mixin bola destacada
 * converteix un element donat en una bola amb el
 * text centrat i lleugerament girada
 * NO posiciona al element
 * aplica blanc al color interior
 *
 * param1 tamany de la bola (ample i alt)
 * param2 color de fons
 */
@mixin bola_destc($t:"100px", $bg:$destacat) {
  background-color: $bg;
  width: #{$t};
  height: #{$t};
  @include border-radius($t/2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 100%;
  @include rotate(-20deg);
}

/**
 * mixin per cites
 * aplica les cometes dobertura i tancament
 * al text, amb tamany i ubicacio
 * 
 * sense parametres
 */
@mixin cita() {
  &:after,
  &:before {
    font-family:'Lily Script One';
    font-weight: 400;
    display: inline-block;
    font-size: 325%;
    vertical-align: bottom;
    bottom: -23px;
    position: relative;
  }
  &:after {
    content: '\201C';
  }
  &:before {
    content: '\201D';
  }
}

/**
 * mixin per titols
 * aplica color de fons i franja cap a l'esquerra
 *
 * param1 distancia cap a l'esquerra
 * param2 color de fons
 */
@mixin titol_bg($m,$bg:$destacat) {
  margin-left: -$m;
  text-indent: $m;
  background-color: $bg;
  vertical-align: middle;
  
}

/**
 * Ictineo mixins for TNC
 * Mixins de estils de text
 */
@mixin estil_reset() {
  font-size: 13px;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $color_text;
  text-transform: none;
  text-decoration: none;
}
@mixin titol() {
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $titols_b;
  text-transform: uppercase;
}
@mixin sub_titol() {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $titols_b;
  text-transform: uppercase;
}
@mixin tit_autor() {
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 25px;
  color: $color_text;
  text-transform: uppercase;
}
@mixin tit_director() {
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 25px;
  color: $color_text;
  text-transform: uppercase;
}
@mixin destacat() {
  font-size: 21px;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 27px;
}
@mixin tit_mig {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $color_text;
}
@mixin pestanya_inactiva() {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $gris2;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  background-color: $gris5;
}
@mixin pestanya_activa() {
  @include pestanya_inactiva();
  color: $gris1;
  background-color: $gris3;
  padding: 10px 20px;
}
@mixin boto() {
  width: 100%;
  min-height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: $destacat;
  color: $blanc;
  text-transform: uppercase;
}
@mixin tit_multimedia() {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $blanc;
  text-transform: uppercase;
  margin: 0px;
}
@mixin peus_multimedia() {
  font-size: 10px;
  line-height: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: $blanc;
}
@mixin bora_bot() {
  border-bottom: $color-bora 1px solid;
}
@mixin bora_top() {
  border-top: $color-bora 1px solid;
}
@mixin caixa_petita {
  background-color: $gris5;
  text-align: center;
  h2.node-title a {
    font-size: 16px;
    line-height: 17px;
    color: $titols_b;
    text-transform: uppercase;
    font-weight: 800;
  }
  h2 {
    line-height: 17px;
    margin-bottom: 5px;
  }
  .field-name-field-imatge-capcalera .field-item img {
    width: 100%;
  }
  .field-name-field-tipus-entorn .field-items {
    display: inline-block;
    .field-item {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid $gris2;
      padding-bottom: 3px;
      line-height: 13px;
      margin-bottom: 5px;

    }
  }
  .field-name-field-sala .field-item {
    text-transform: uppercase;
    line-height: 16px;
  }
  .field-name-field-data .field-item span {
    line-height: 16px;
  }
  .field-name-field-tarifa .field-item {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .field-name-field-url-compra-reserva a {
    @include boto();
    min-height: 25px;
    line-height: 25px;
    height: 25px;
    width: 55%;
  }
}
@mixin bg_sprite() {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
}
@mixin xxss {
  font-weight: 800;
  text-transform: uppercase;
  background-color: $gris5;
  color: $gris1;
  line-height: 40px;
}
@mixin xxss_icon {
  @include bg_sprite;
  display: inline-block;
  overflow: hidden;
  content: " ";
  height: 28px;
  width: 28px;
  margin-top: 5px;
  margin-left: 15px;
  float:left;
  margin-right: 15px;
}

/**
 * apunts
 *http://www.slideshare.net/LeaVerou/mastering-css3-gradients
//@include background-image(linear-gradient(45deg, green 25%, transparent 25%, transparent 50%, green 50%, green 75%, transparent 75%, transparent));
*/
