$top-menu-h: 40px;

// ho treiem per que ara tot el mm-wrapper
// posiciona com a relative i no hi ha
// diferencia entre home i internes
//body.not-front #mm-wrapper {
  //#top-mm-wrapper {
    //top: 59px;
  //}
  //#left-mm-wrapper {
    //top: 100px;
  //}
//}

#mm-wrapper {
  margin-top: $top-menu-h;
  // quiron
  position: relative;
  
  .view-id-carrega_megamenu.view-display-id-block_3,
  .view-id-carrega_megamenu.view-display-id-block_1 {
    // quiron
    // ara ho controlem per javascript
    //z-index: 1005;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .views-row {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      /* traballem el mm per sobre 1000, per evitar colisions amb slide */
      z-index: 1000;
      display: block;
    }
  }
  /* menu superior */
  #top-mm-wrapper {
    position: absolute;
    top: -$top-menu-h;
    height: $top-menu-h;
    background-color: $gris4;
    display: block;
    width: 100%;
    padding-left: 30%;
    // zindex per sobre el wrapper general
    // per fer els links clicables
    z-index: 1009;
    a,
    h4 {
      display: inline-block;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      margin-top: 0px;
      line-height: 14px;
      padding: 13px 12px;
      &:before {
        content: " ";
        border-left: 1px solid $gris2;
        left: -12px;
        position: relative;
      }
      &:nth-child(1) {
        background-color: $destacat;
        color: white;
        &:before {
          display: none;
        }
      }
      &:nth-child(2) {
        background-color: $negre;
        color: white;
        &:before {
          display: none;
        }
      }
      &:nth-child(3) {
        background-color: $gris1;
        color: white;
        &:before {
          display: none;
        }
      }
      &:nth-child(4) {
        background-color: $gris2;
        color: white;
        &:before {
          display: none;
        }
      }
      &:nth-child(5):before {
        display: none;
      }
    }
  }

  #left-mm-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
    z-index: 1200;
    /* element per posar la mitja rodona de fons */ 
    &:before {
      content: " ";
      left: 0px;
      top: 5%;
      display: block;
      width: 380px;
      height: 500px;
      /* quina img??? */
      background-image: url('../images/logotnc-menu-lateral.png');
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px;
      margin-left: -200px;
      background-color: $blanc;
      @include background-size(30% auto);
      background-repeat: no-repeat;
      background-position: 225px 200px;
      z-index: 1005;
      margin-bottom: -100px;
    }
    h4 {
      /** afinar! **/
      display: table;
      color: white;
      width: auto;
      padding-left: 30px;
      padding-right: 8px;
      background-color: $destacat;
      line-height: 26px;
      margin-bottom: 3px;
      margin-top :0;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .view-id-carrega_megamenu.view-display-id-block_1 {
    //h4 {
      //top: -$top-menu-h;
      //position: absolute;
    //}
    .views-row {
      bottom: 100%;
      /* fixem lobjecte al quadrat que toca
       * al marge del contingut */
      max-height: 100%;
      overflow: hidden;
      top: -100%;
    }
  }
  
  /* menu esquerre */
  .view-id-carrega_megamenu.view-display-id-block_3 {
    .views-row {
      //left: -100%;
      top: -100%;
    }


  }
}

/** Dins el megamenu **/

#mm-wrapper {
  .view-id-carrega_megamenu.view-display-id-block_1,
  .view-id-carrega_megamenu.view-display-id-block_3 {
    /* quiron height: 570px; */
    height: 668px;
    .view-content {
        }
    .views-row {
      //background-color: $blau1;
      /* quiron height: 570px; */
      height: 668px;
      /* quiron added */
      @include background-image(linear-gradient(-176deg, $blau1 88%, transparent 12%));
      background-repeat: no-repeat;
      background-size: cover;
      /* quiron evitem que surti algo per sota */
      .mm-slide-wrapper {
        height: 575px;
        overflow: hidden;
      }
     }
    .mm-slide-wrapper .mm-content {
      //&:after {
        //background-image: linear-gradient(-178deg, $blau1 44%, $blau1 46%, transparent);
         //height: 70px;
         //width: 1000px;
        //}

      margin-top: 15px;
      .view-header p {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: $blanc;
        margin: 0;
      }
      .field-name-field-titol {
        .field-items {
          margin-right: 30px;
          //border-top: 1px solid $blanc;
          //border-bottom: 1px solid $blanc;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-bottom: 10px;
          .field-item {
            font-size: 15px;
            line-height: 17px;
            color: $blanc;
            text-transform: uppercase;
            font-weight: 800;
          }
        }
      }
      .field { 
        .view-content .views-row {
          margin-bottom: 10px;
          margin-top: 10px;
          .views-field.views-field-nothing {
            margin-right: 11px;
            .nested {
              .field-item, a {
                padding-left: 10px;
                line-height: 12px;
              }
              .field-name-field-sala .field-item {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                color: $blanc;
              }
              .field.titol a {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
                color: $blanc;
              }
              .field-name-field-subtitol .field-item {
                font-size: 10px;
                color: $blanc;
                font-weight: 700;
              }
            }
          }
        }
      }
      .field-name-field-text-lliure,
      .field-name-field-altres-llistats,
      .field-name-field-espectacle-prox {
        .field-item .view .view-header.view-header {
          border-bottom: 1px solid $blanc;
          margin-right: 30px;
          padding-bottom: 2px;
        }
        .view-display-id-block_3 .view-header {
          border: none;
        }
        .view-content .views-row {
        }
        .field-name-field-data {
          display: inline-block;
          span.date-display-single {
            font-size: 13px;
            color:$blanc;
            &:before {
              //content:'> ';
            }
            &:after {
              content:'.';
            }
          }
        }
        .field-name-field-tipus-entorn {
          display: inline-block;
          margin-right: 13px;
          .field-items .field-item {
            font-size: 11px;
            line-height: 18px;
            color:$blanc;
          }
        }
        .field-name-field-sala {
          display: inline-block;
          .field-items .field-item {
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            color: $blanc;
          }
        }
        .views-field-title {
          display: block;
          margin-top: -5px;
          margin-right: 13px;
          font-size: 12px;
          line-height: 14px;
          .field-content {
            font-size: 12px;
            line-height: 8px;
            color: $blanc;
          }
          a {
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 8px;
            color: $blanc;
          }
        }
        .field-items {
          font-size: 12px;
          line-height: 14px;
          .field-item {
            font-size: 12px;
            line-height: 14px;
            p {
              margin: 0 30px 0 0;
              font-size: 12px;
              line-height: 14px;
              color: $blanc;
              &.cos_text {
                font-size: 12px !important; 
                color: $blanc !important;
              }
              img {
                margin-right: 5px;
              }
              strong {
                color: $blanc;
              }
            }
          }
        }
      }
      /** neteja destils per camp de text lliure **/
      .field-name-field-text-lliure {
        margin-right: 30px;
        .field-item {
          padding-top: 16px;
          span, p, div, a {
            color: white;
          }
          img {
            float: left;
            padding: 0 6px 4px 0;
          }
        }
      }

      .field-name-field-enllac-megamenu {
        margin-top: 10px;
        margin-right: 30px;
        a {
          font-size: 13px;
          color: $blanc;
          &:before {
            content: '> ';
          }
        }
        .field-item {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .field-item:first-child {
          margin-top: 6px;
        }
      }

      /** selector per agafar nomes en el cas que estiguin despres del titol **/
      .field-name-field-titol + .field-name-field-text-lliure.field-label-hidden,
      .field-name-field-titol + .field-name-field-enllac-megamenu.field-label-hidden {
        /** simulem el titol amb la franja inferior si es el primer element del llistat*/
        &:before {
          content: " ";
          height: 16px;
          border-bottom: 1px solid white;
          display: block;
          width: 100%;
          margin-right: 30px;
          margin-top: 31px;
        }
      }
    }
    /** calendari de les columnes **/
    .view-id-calendar.view-display-id-block_2 {
      margin-top: 0px;
      margin-right: 30px;
      .view-header {
        .date-prev,
        .date-next {
          display: none;
        }
        /** sobreescrivim l'estil de capcalera **/
        .date-nav-wrapper .date-nav {
          margin: 0 auto;
          min-height: 0;
          padding-bottom: 0px;
          .date-heading {
            padding: 0px;
            width: 100%;
            height: 14px;
            line-height: 14px;
            text-align: left;
            padding-bottom: 2px;
            border-bottom: 1px solid white;
            h3,
            a {
              height: 14px;
              line-height: 14px;
              text-align: left;
              background: none;
              text-indent: 0;
              overflow: visible;
              display: inline;
              width: auto;
              font-size: 13px;
              font-weight: 400;
              width: 100%;
              &:hover {
                text-transform: uppercase;
              }
              color: white;
            }
          }
        }
      }
      /** estil de la grella **/
      .view-content .month-view .mini{
        border: 0px none;
        thead {
          background-color: transparent;
          color: white;
          border: 0px none;
          tr {
            background-color: transparent;
            color: white;
            border: 0px none;
            th {
              border: 0px none;
              background-color: transparent;
              text-transform: uppercase;
              color: white;
              font-weight: 700;
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
        tbody {
          tr {
            color: white;
            background-color: transparent;
            td div.calendar-empty { display: none;}
            td div.month,
            td {
              text-align: center;
              vertical-align: middle;
              color: white;
              background-color: transparent;
              font-size: 13px;
              font-weight: 400;
            }
            td div.month {
              width: 20px;
              height: 20px;
              display: inline-block;
            }
            td.has-events {
              div.month {
                background-color: white;
                border-radius: 30px;
                color: $blau1;
              }
            }
          }
        }
      }
    }
  }
}

/* Slide capçalera*/
#mm-wrapper {
  .view.view-carrousel {
    .views-row.views-row-1,
    .views-row.views-row-2 {
      .views-field-nothing {
        .tab.tab-big {
          &:before {
            margin-bottom: -76px;
          }
          .field-name-field-url-compra-reserva {
            width: 280px;
            height: 10px;
            background-color: transparent;
            .field-items {
              margin-left: 84%;
              width: 80px;
              a {
                @include bola_destc($t:"80px", $bg:$rosa);
                border-radius: 50px;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 14px;
              }
            }
          }
          .field-name-field-sala {
            margin-top: 20px;
          }
          .field-name-field-sala,
          .field-name-field-data {
            height: auto;
            padding-left: 20px;
            width: 280px;
            .field-items {
              .field-item,
              .field-item span {
                line-height: 16px;
                font-weight: 700;
                color: $blanc;
                text-transform: uppercase;
              }
            }
          }
          h4.titol {
            width: 280px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 15px;
            padding-left: 20px;
            height: auto;
            a {
              font-size: 34px;
              font-weight: 800;
              line-height: 34px;
              color: $blanc;
            }
          }
          .field-name-field-subtitol {
            width: 280px;
            height: auto;
            padding-left: 20px;
            .field-items {
              .field-item {
                font-size: 18px;
                line-height: 20px;
                font-weight: 800;
                color: $blanc;
                text-transform: uppercase;
              }
            }
          }
          .field-name-field-autor,
          .field-name-field-rol-destacat {
            width: 280px;
            height: auto;
            padding-left: 20px;
            .field-items {
              .field-item {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                color: $blanc;
                text-transform: uppercase;
              }
            }
          }
          .field-name-field-rol-destacat {
            display: none;
          }
          .field-name-field-autor .field-items .field-item {
            font-weight: 800;
            padding-top: 10px;
          }
          .grup_entorn {
            width: 280px;
            height: auto;
            padding-left: 20px;
            font-size: 13px;
            font-weight: 800;
            padding-top: 15px;
            color: $blanc;
            text-transform: uppercase;
          }
          .item-list {
            height: auto;
            padding-bottom: 150px;
            margin-top: -20px;
            ul {
              list-style: none;
              width: 280px;
              padding: 0;
              li {
                .field-name-field-entorn .field-items {
                  .field-item {
                    margin-top: 5px;
                    margin-left: 20px;
                    border-bottom: 1px solid $bora_temporada;
                    &:last-of-type {
                      border: none;
                    }
                    .entorn_teaser {
                      .field-name-field-autor, 
                      .field-name-field-data,
                      .field-name-field-tipus-entorn,
                      .field-name-field-sala {
                        display: inline-block;
                        width: auto;
                        margin: 0;
                        padding: 0;
                        .field-items {
                          .field-item,
                          .field-item span {
                            font-size: 11px;
                            line-height: 15px;
                            font-weight: 600;
                            color: $blanc;
                            margin:0;
                            padding: 0;
                          }
                        }
                      }
                      .field-name-field-data {
                        .field-items {
                          .field-item span {
                            &:after {
                              content: '. ';
                            }
                          }
                        }
                      }
                      .field-name-field-sala {
                        .field-items {
                          .field-item {
                            &:after {
                              content: '. ';
                            }
                          }
                        }
                      }
                      // quiron, neteja
                      .field-name-field-autor.field-name-field-autor {
                        display: none;
                      }
                      h2.node-title,
                      .field-name-field-autor {  
                        font-size: 11px;
                        display: inline-block;
                        width: auto;
                        margin: 0;
                        padding: 0;
                        line-height: 15px;
                        a {
                          font-size: 11px;
                          font-weight: 800;
                          color: $blanc;
                          text-transform: uppercase;
                          &:after {
                            content: '. ';
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .tab.tab-small {
          right: 18%;
          margin-right: 3px;

          .field {
            width: auto;
            height: auto;
            display: inline-block;
            .field-items {
              .field-item,
              .field-item span {
                color: $blanc;
                font-size: 11px;
                line-height: 15px;
                font-weight: 600;
              }
            }
          }
          .field-name-field-sala {
            padding-left: 20px;
            margin-top: 20px;
            .field-items {
              .field-item {
                text-transform: uppercase;
                &:after {
                  content: '. ';
                }
              }
            }
          }
          a {
            color: $blanc;
            font-size: 11px;
            font-weight: 800;
            text-transform: uppercase;
            display: block;
            height: auto;
            margin: -3px 0;
            padding-left: 20px;
            width: 280px;
            padding-top: 1px;
          }
          .field-name-field-autor {
            padding-left: 20px;
            display: block;
            height: 45px;
            margin: -2px 0;
            width: 280px;
            padding-top: 1px;
          }
        }
      }
    }
  }
}
