body #page {
  #footer-wrapper {
    width: 100%;
    background-color: #000000;
  }
  .region-bottom {
    background-color: #000000;
    .block {
      margin-top: 20px;
      h2.block__title.block-title {
        font-size: 11px;
        font-weight: 800;
        color: $blanc;
        text-transform: uppercase;
        border-top: 1px solid $grisPeu;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          border-top: 1px solid $grisPeu;
          span,
          a {
            color: $blanc;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            &:before {
              content: '> ';
            }
            em {
              display: inline-block;
              font-size: 10px;
              line-height: 12px;
              font-weight: 400;
              color: $blanc;
              text-transform: none;
              margin-right: 20px;
              font-style: normal;
            }
          }
        }
      }
    }
    #block-block-2 {
      text-align: center;
      p {
        font-size: 10px !important;
        line-height: 13px !important;
        margin: 0;
        color: $blanc;
      }
    }
  }
  #sub-footer-wrapper {
    width: 100%;
    background-color: $gris3;
    height: 40px;
    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .region-subbottom {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      #block-block-8 {
        margin-bottom: 0px;
          margin-top: 10px;
        a {
          line-height: 20px;
          padding: 0px 10px;
          border-right: 1px solid $gris2;
          color: $gris2;
          font-size: 11px;
          font-weight: 400;
          &:last-child {
            border-right: 0px none;
          }
        }

      }
      #block-block-3--2 {
        &:before,
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        display: block;
        float: right;
        margin: 0px;
        .xxss{
          float: right;
          position: static;
          width: 290px;
          .fb {
            a {
              color: $gris4; 
              @include bg_sprite;
              width: 28px;
              height: 28px;
              background-position: 0px 0px;
              position: absolute;
            }
          }
          .tw {
            a {
              color: $gris4; 
              @include bg_sprite;
              width: 28px;
              height: 28px;
              background-position: -60px 0px;
              position: absolute;
            }
          }
          span.instagram {
            a {
              color: $gris4; 
              @include bg_sprite;
              width: 28px;
              height: 28px;
              background-position: -30px 0px;
              position: absolute;
            }
          }
          span.youtube {
            a {
              color: $gris4; 
              @include bg_sprite;
              width: 28px;
              height: 28px;
              background-position: -90px 0px;
              position: absolute;
            }
          }
          span.feed {
            a {
              color: $gris4; 
              @include bg_sprite;
              width: 28px;
              height: 28px;
              background-position: -30px 0px;
              position: absolute;
            }
          }
        }
        .xxss.xxss.xxss {
          margin-top: -5px;
          /**sobreescriptura general dels botos **/
          span a,
          div a {
            float: right;
            position: static;
            display: block;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

