body.page-temporada {
  .view-temporada {
    tr {
      td {
        margin-bottom: 30px;
      }
      .espectacle,
      .entorn {
        min-height: 265px;
        background-color: $gris5;
        .field-name-field-data .field-item,
        .field-name-field-data span,
        .field-name-field-sala, 
        .field-name-field-sala .field-item {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          background-color: $verd2;
          color: $blanc;
          padding-left: 10px;
        }
        .field-name-field-sala .field-item {
          padding-bottom: 10px;
        }
        .field-name-field-data .field-item {
          padding-top: 10px;
        }
        .field-name-field-data span.date-display-end {
          padding-left: 0;
        }
        .field-name-field-sala,
        .field-name-field-sala .field-item {
          font-weight: 800;
          text-transform: uppercase;
          display: block;
        }
        .field-name-field-subtitol .field-items .field-item,
        .view-field-title {
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 800;
          padding-left: 10px;
          margin-top: 5px;
          color: $verd2;
          a {
            color: $verd2;
            line-heigh: 26px;
            &:hover {
              text-transform: inherit;
            }
          }
        }
        .field-name-field-subtitol .field-items .field-item {
          font-size: 14px;
        }
        .field-name-field-autor div,
        .field-name-field-rol-destacat div {
          font-size: 14px;
          text-transform: uppercase;
          color: $gris0;
          padding-left: 5px;
          line-height: 16px;
        }
        .field-name-field-autor div {
          font-weight: 700;
          margin-top: 5px;
        }
        .grup_entorn {
          padding: 5px 0 0 10px;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 11px;
          color: $verd2;
          /** amaguem a l'entorn si esta buit **/
          &:last-child {
            display: none;
          }
        }
        .field-name-field-entorn {
          text-transform: uppercase;
          color: $gris0;
          padding: 0 40px 0 10px;
          .field-item  {
            border-bottom : 1px solid $bora_temporada;
            &:last-of-type {
              border: none;
            }
          }
          .field-item .entorn_teaser {
            padding-bottom: 5px;
            .field-name-field-sala,
            .field-name-field-sala div,
            .field-name-field-sala .field-item,
            .field-name-field-data,
            .field-name-field-data span,
            .field-name-field-data .field-item,
            .field-name-field-tipus-entorn .field-item,
            .field-name-field-tipus-entorn div.field-items,
            .field-name-field-tipus-entorn {
              display: inline-block;
              font-size: 11px;
              line-height: 13px;
              background-color: $gris5;
              color: $gris0;
              font-weight: 400;
              padding: 0;
            }
            h2.node-title,
            h2.node-title a {
              font-weight: 800;
              font-size: 11px;
              line-height: 13px;
              margin: 0;
              display: block;
              text-transform: uppercase;
            }
            .field-name-field-autor div {
              display: inline-block;
              font-size: 11px;
              color: $gris0;
              font-weight: 400;
              padding: 0;
              text-transform: none;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
