/**
 * Arxiu de variables globlas
 * Projecte Ictineo SCCL
 */

/**
 * Definició de colors
 *
 * com més baix el numero més intens
 */
$negre: #000000;
$rosa: #e2007a;
$blanc: white;

$gris0: #58595a;
$gris1: #58595b;
$gris2: #9c9e9f;
$gris3: #dcdddf;
$gris4: #e9eaeb;
$gris5: #f4f4f5;

$blau1: #008991;
$blau2: #96cbcd;
$blau3: #bfe2e3;
$blau4: #e8f4f5;

$verd1: #6bb2b8;
$verd2: #008f95;

/** Mapejat per funcions **/
$destacat: $rosa;
$fons_actiu: $blau1;
$fons_inactiu: $blau3;
$titols_b: $blau1;
$color_text: $gris1;
$color_bora: $gris3;


/**
 * Variables d'estils
 */
$bora_caixa: 12px;
$column_padding: 12px;


/**Caixa subtítols pàgina estàtica **/
$m: 10px;

/*altres*/
$bora_temporada: #cdcecf;
