.icontent h1{
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#ffffff;
	background:#e2007a;
	text-transform: uppercase;
	display: inline-block;
	padding-right:20px;
	margin: 40px 0px 20px 0px;
	line-height: normal;
	position:relative;
	left:-83px;
	padding-left:83px;
	clear:both;
}

.icontent h2{
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#ffffff;
	background:#008f95;
	text-transform: uppercase;
	display: inline-block;
	padding-right:15px;
	clear:both;
	/* float: left; */
	position:relative;
	left:-83px;
	padding-left:83px;
	margin:40px 0px 20px 0px;
	line-height: normal;
}

.icontent h3{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#008f95;
	text-transform: uppercase;
	padding:0px;
	margin:0px;
	clear:both;
}
.icontent h4 {
font-size: 14px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color: #e2007a;
text-transform: uppercase;
padding: 0px;
margin: 0px;
clear: both;
}
.icontent p{
	padding:0;
	margin: 0px 0px 20px 0px;
	font-size:14px;
	line-height:19px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#58585a;
}
.icontent a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#e2007a;
}

.icontent div.textintro{
	margin: 0px 0px 0px 0px;
	width: 700px;
}
.icontent div.textintro p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#58585a;
	line-height:24px;
}
.icontent hr{
height: 1px;
line-height: 1px;
background: #cdcecf;
margin: 7px 0px;
border: 0px solid;
}
.icontent hr.separador{
	width: 97%;
	margin: 40px 0px;
	line-height: 1px;
	background: #cdcecf;
	height: 1px;
	border: 0;
}
.icontent .textcos3columnes{
	overflow:auto;
	clear: both;
	margin-left:-24px;
}

.icontent .tc3block{
	font-size:12px;
	width:342px;
	background:#F4F4F5;
	overflow: auto;
	margin-left: 24px;
	margin-bottom: 15px;
	float:left;
}
.icontent .tc3block img{
	float:left;
}
.icontent .tc3block .tc3bText{
	padding: 11px;
	float: left;
	width: 148px;
}
.icontent .tc3block h5{
	font-size: 15px;
	font-weight: 800;
	color: #008991;
	margin: 0;
	text-transform: uppercase;
	line-height: 16px;
}
.icontent .tc3block h6{
	font-size: 12px;
	font-weight: 700;
	color: #008991;
	text-transform: uppercase;
	margin: 9px 0px 0px 0px;
	padding: 5px 0px;
	border-top: 1px solid #D2D3D4;
}
.icontent .tc3block p{
	font-size: 11px;
	line-height: normal;
	margin: 0px 0px 9px 0px;
	font-weight: 600;
}
.icontent .botocompra{
	background:#E2007A;
	color:#FFFFFF;
	text-transform: uppercase;
	font-weight:800;
	text-align: center;
}

.icontent .infoadicional{margin-right: 42px;}
.icontent .infoadicional h6{
	font-size: 14px;
	font-weight: 800;
	border-bottom: 1px solid #E6E7E7;
	margin: 0 0 13px 0px;
	padding: 0 0 10px 0;
}
.icontent .infoadicional p{
	font-size:14px;
	line-height: 15px;
	margin: 0 0 13px 0;
}

.icontent .textcos2blocks{
	overflow:auto;
	clear: both;
}
.icontent .tc2bblock{
	float: left;
	background: #F4F4F5;
	width: 536px;
	text-align:center;
	margin-right: 64px;
	padding-bottom: 20px;
}
.icontent .tc2bblock h5{
	font-weight: 800;
	font-size: 21px;
	border-top: 1px solid #6BB2B8;
	border-bottom: 1px solid #6BB2B8;
	color: #008F95;
	display: inline-block;
	padding: 4px 23px;
	text-transform: uppercase;
}
.icontent .tc2bblock p{
	font-size:14px;
	padding:0 30px;
}
.icontent .tc2bblock .links{
	margin-bottom: 10px;
}
.icontent .tc2bblock a{
	color: #008F95;
	padding: 0 20px;
}
.icontent .separacio{
	background:url('http://188.165.131.21/tnc_impactev1/sites/default/files/rodonetes.png');
	width:35px;
	height:5px;
	margin: 17px auto;
}

.icontent .tverd{
	color:#008F95;
}

/* 2 columnes */
.icontent div.textcos2columnes{
	width: 100%;
	/*float: left;*/
	overflow: auto;
	clear: both;
}
.icontent  .textcos2columnes .columnaesquerra p {
margin: 0px 78px 20px 0px;
}
.icontent .textcos2columnes .columnaesquerra img {
/* ull, no sé si afecta a algun altre contingut... aquest és per pàgina "edifici i espais" */
width: 300px;
float: left;
margin: 4px 40px 10px 0px;
height: 200px;
}
.icontent div.columnaesquerra{
	width:75%;
	float:left;
}
.icontent div.columnadreta{
	width:25%;
	float:right;
}
.icontent .mayus{
	text-transform:uppercase;
}
.icontent .negreta{
	font-weight:800;
}

/* 2columnes */
.icontent .2columnes{
	width:100%;
}
.icontent .columna2{
	width:50%;
	float:left;
}
.icontent .columna2 h5{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: bold;
}

.icontent .columna2 p{
	padding: 0 20px 0 0;
}
.icontent .columna2 span{
	font-size: 14px;
	font-weight: bold;
}
/* 3 columnes */
.icontent .3columnes{
	width:100%;
}
.icontent .columna3{
	width:32%;
	float:left;
}
.icontent .columna3.first{
	color: #008991;
}
.icontent .columna3 h5{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: bold;
}
.icontent .columna3 span{
	font-size: 14px;
	font-weight: bold;
}
.icontent .columna3.first p{
	color: #008991;
	margin-left: 60px;
}
.icontent .columna3.first h5{
	color: #008991;
}
.icontent .columna3.first p span{
	color: #008991;
}

/*Tarifes*/
.icontent div#texttarifes{
	margin: 0px 0px 20px 0px;
	max-width:727px;
}


/*taules*/
.icontent .taula{ width:95%;}
.icontent td, th, .icontent .tabla{
	border:0px solid #000000;
	border-collapse: collapse;
}

.icontent th:nth-child(1){
	width:50%;
}
.icontent th{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
	
	text-transform: uppercase;
	text-align: right;
	padding-right: 5px;
}
.icontent tr.separacio{
	height:20px;
}
.icontent tr.obra{
	border-top:1px #cdcecf solid;
}
.icontent td{
	text-align: right;
	padding-right: 25px;
}
.icontent td:nth-child(1){
	text-align: left;
	text-transform:uppercase;
}
.icontent tr.obra td{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
}
.icontent tr.obra td:nth-child(1){
	font-size:18px;
	line-height:21px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#008f95;
	padding-left: 5px;
}

.icontent tr.obra td:nth-child(1) span{
	text-transform: none;
	font-weight:400;
}
.icontent tr.entorn{background:#e5f1f3;border-top:1px #FFFFFF solid;}
.icontent tr.entorn td{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
}
.icontent tr.entorn td:nth-child(1){
	font-size:14!important;
	line-height:19px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
	padding-left: 15px;
}
.icontent tr.entorn.sinpadding td:nth-child(1){
	padding-left: 5px;
}
.icontent tr.entorn td:nth-child(1) span{
	text-transform: none;
	font-weight:400;
}
.icontent tr.epicentre{
	font-size:18;
	line-height:21px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
	padding-left: 5px;
}
.icontent tr.epicentre span{
	text-transform: none;
}
.icontent .indentat{padding-left:20px;}
.icontent .indentatdoble{padding-left:40px;}
.icontent .tabonaments .preu{text-align:center;}
