
.icontent h1{
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#ffffff;
	background:#e2007a;
	text-transform: uppercase;
	display: inline-block;
	padding-right:20px;
	margin: 40px 0px 20px 0px;
	line-height: normal;
	position:relative;
	left:-83px;
	padding-left:83px;
	clear:both;
}

.icontent h2{
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#ffffff;
	background:#008f95;
	text-transform: uppercase;
	display: inline-block;
	padding-right:15px;
	clear:both;
	/* float: left; */
	position:relative;
	left:-83px;
	padding-left:83px;
	margin:40px 0px 20px 0px;
	line-height: normal;
}

.icontent h3{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#008f95;
	text-transform: uppercase;
	padding:0px;
	margin:0px;
	clear:both;
}
.icontent h4 {
font-size: 14px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color: #e2007a;
text-transform: uppercase;
padding: 0px;
margin: 0px;
clear: both;
}
.icontent h1 a:hover, .icontent h2 a:hover, .icontent h3 a:hover, .icontent h4 a:hover{text-transform: uppercase;}
.icontent p{
	padding:0;
	margin: 0px 0px 20px 0px;
	font-size:14px;
	line-height:19px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#58585a;
}
.icontent a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#e2007a;
}

.icontent div.textintro{
	margin: 0px 0px 0px 0px;
	/*width: 700px;*/
	width: 90%;
}
.icontent div.textintro p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#58585a;
	line-height:24px;
}
.icontent hr{
height: 1px;
line-height: 1px;
background: #cdcecf;
margin: 7px 0px;
border: 0px solid;
}
.icontent hr.separador{
	width: 97%;
	margin: 40px 0px;
	line-height: 1px;
	background: #cdcecf;
	height: 1px;
	border: 0;
}
.icontent .textcos3columnes{
	overflow:visible;
	clear: both;
	margin-left:-24px;
}

.icontent .tc3block{
	font-size:12px;
	/*width:342px;*/
	width: 30%;
	background:#F4F4F5;
	overflow: visible;
	margin-left: 24px;
	margin-bottom: 15px;
	float:left;
}
.icontent .tc3block img{
	float:left;
}
.icontent .tc3block .tc3bText{
	padding: 11px;
	float: left;
	/*width: 148px;*/
	width:45%;
}
.icontent .tc3block h5{
	font-size: 15px;
	font-weight: 800;
	color: #008991;
	margin: 0;
	text-transform: uppercase;
	line-height: 16px;
}
.icontent .tc3block h6{
	font-size: 12px;
	font-weight: 700;
	color: #008991;
	text-transform: uppercase;
	margin: 9px 0px 0px 0px;
	padding: 5px 0px;
	border-top: 1px solid #D2D3D4;
}
.icontent .tc3block p{
	font-size: 11px;
	line-height: normal;
	margin: 0px 0px 9px 0px;
	font-weight: 600;
}
.icontent .botocompra{
	background:#E2007A;
	color:#FFFFFF;
	text-transform: uppercase;
	font-weight:800;
	text-align: center;
	padding: 4px 8px;
}
.icontent .botocompra a{color:#fff;text-transform:uppercase;}

.icontent .infoadicional{margin-right: 42px;}
.icontent .infoadicional h6{
	font-size: 14px;
	font-weight: 800;
	border-bottom: 1px solid #E6E7E7;
	margin: 0 0 13px 0px;
	padding: 0 0 0 0;
}
.icontent .infoadicional p{
	font-size:13px;
	line-height: 15px;
	margin: 0 0 13px 0;
}

.icontent .textcos2blocks{
	overflow:visible;
	clear: both;
}
.icontent .tc2bblock{
	float: left;
	background: #F4F4F5;
	width:45%;
	/*width: 536px;*/
	text-align:center;
	margin-right: 64px;
	padding-bottom: 20px;
}
.icontent .tc2bblock h5{
	font-weight: 800;
	font-size: 21px;
	border-top: 1px solid #6BB2B8;
	border-bottom: 1px solid #6BB2B8;
	color: #008F95;
	display: inline-block;
	padding: 4px 23px;
	text-transform: uppercase;
}
.icontent .tc2bblock p{
	font-size:14px;
	padding:0 30px;
}
.icontent .tc2bblock .links{
	margin-bottom: 10px;
}
.icontent .tc2bblock a{
	color: #008F95;
	padding: 0 20px;
}
.icontent .separacio{
	background:url('/sites/default/files/rodonetes.png');
	width:35px;
	height:5px;
	margin: 17px auto;
}

.icontent .tverd{
	color:#008F95;
}

/* 2 columnes */
.icontent div.textcos2columnes{
	width: 100%;
	/*float: left;*/
	overflow: visible;
	clear: both;
}
.icontent  .textcos2columnes .columnaesquerra p {
margin: 0px 78px 20px 0px;
}
.icontent .textcos2columnes .columnaesquerra img {
/* ull, no sé si afecta a algun altre contingut... aquest és per pàgina "edifici i espais" */
/*width: 300px;*/
width:30%;
float: left;
margin: 4px 40px 10px 0px;
height: 200px;
}
.icontent div.columnaesquerra{
	width:75%;
	float:left;
}
.icontent div.columnadreta{
	width:25%;
	float:right;
}
.icontent .mayus{
	text-transform:uppercase;
}
.icontent .negreta{
	font-weight:800;
}

/* 2columnes */
.icontent .2columnes{
	width:100%;
}
.icontent .columna2{
	width:50%;
	float:left;
}
.icontent .columna2 h5{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: bold;
}

.icontent .columna2 p{
	padding: 0 20px 0 0;
}
.icontent .columna2 span{
	font-size: 14px;
	font-weight: bold;
}
/* 3 columnes */
.icontent .3columnes{
	width:100%;
}
.icontent .columna3{
	width:32%;
	float:left;
}
.icontent .columna3.first{
	color: #008991;
}
.icontent .columna3 h5{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: bold;
}
.icontent .columna3 span{
	font-size: 14px;
	font-weight: bold;
}
.icontent .columna3.first p{
	color: #008991;
	margin-left: 60px;
}
.icontent .columna3.first h5{
	color: #008991;
}
.icontent .columna3.first p span{
	color: #008991;
}

/*Tarifes*/
.icontent div#texttarifes{
	margin: 0px 0px 20px 0px;
	max-width:727px;
}


/*taules*/
.icontent .taula{ width:95%;}
.icontent .taula.petita{width:auto;}
.icontent td, th, .icontent .tabla{
	border:0px solid #000000;
	border-collapse: collapse;
}

.icontent th:nth-child(1){
	width:40%;
}
/*
.icontent th{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
	
	text-transform: uppercase;
	text-align: right;
	padding-right: 5px;
}
*/
.icontent th{
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
	
	text-transform: uppercase;
	text-align: right;
	padding-right: 5px;
}
.icontent .petita th{text-align:left;}
.icontent tr.separacio{
	height:20px;
}
/*
.icontent tr.obra{
	border-top:1px #cdcecf solid;
}
*/
.icontent td{
	text-align: right;
	padding-right: 25px;
}
.icontent td:nth-child(1){
	text-align: left;
	text-transform:uppercase;
}
/*
.icontent tr.obra td{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
}
.icontent tr.obra td:nth-child(1){
	font-size:18px;
	line-height:21px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#008f95;
	padding-left: 5px;
}

.icontent tr.obra td:nth-child(1) span{
	text-transform: none;
	font-weight:400;
}
*/

.icontent tr.obra{background:#e5f1f3;border-top:4px #FFFFFF solid;}
.icontent tr.obra td{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
}
.icontent tr.obra td:nth-child(1){
	font-size:13px!important;
	line-height:19px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color: #008f95;
	padding-left: 15px;
}
.icontent tr.obra.sinpadding td:nth-child(1){
	padding-left: 5px;
}
.icontent tr.obra td:nth-child(1) span{
	text-transform: none;
	font-weight:400;
}

.icontent tr.entorn{background:#e5f1f3;border-top:1px #FFFFFF solid;}
.icontent tr.entorn td{
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
}
.icontent tr.entorn td:nth-child(1){
	font-size:14!important;
	line-height:19px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#58585a;
	padding-left: 15px;
}
.icontent tr.entorn.sinpadding td:nth-child(1){
	padding-left: 5px;
}
.icontent tr.entorn td:nth-child(1) span{
	text-transform: none;
	font-weight:400;
}
.icontent tr.epicentre{
	font-size:18;
	line-height:21px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	color:#e2007a;
	padding-left: 5px;
}



.icontent tr.epicentre span{
	text-transform: none;
}
.icontent .indentat{padding-left:20px; font-size:14px;}
.icontent .indentatdoble{padding-left:40px; font-size:14px;}

.icontent .icomentari{
font-size: 25px;
color: #6bb2b8;
line-height: 27px;
font-weight: 800;
margin-bottom: 30px;
}
.icontent .icomentari:before, .icontent .comentari:after{
font-family: 'Lily Script One';
font-weight: 400;
display: inline-block;
font-size: 325%;
vertical-align: bottom;
bottom: -23px;
position: relative;
}
.icontent .icomentari:before{content: '\201D';}
.icontent .icomentari:after{content: '\201C';}




/* llista fitxa-entorn */


.llista-fitxa.views-view-grid.cols-4 .field-type-image{float:none!important;padding:0!important}
.llista-fitxa.views-view-grid.cols-4 tr {
    clear: left;
  }
  .llista-fitxa.views-view-grid.cols-4 tr:before, .llista-fitxa.views-view-grid.cols-4 tr:after {
    content: "";
    display: table;
  }
    .llista-fitxa.views-view-grid.cols-4 tr:after {
    clear: both;
  }
.llista-fitxa.views-view-grid.cols-4 tr .col-1 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .llista-fitxa.views-view-grid.cols-4 tr .col-2 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .llista-fitxa.views-view-grid.cols-4 tr .col-3 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .llista-fitxa.views-view-grid.cols-4 tr .col-4 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

.llista-fitxa.views-view-grid.cols-4 tr td {
  margin-bottom: 30px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle,
.llista-fitxa.views-view-grid.cols-4 tr .entorn {
  min-height: 325px;	/*265px*/
  background-color: #f4f4f5;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-data .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-data span,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-sala .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-data .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-data span,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-sala .field-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #008f95;
  color: white;
  padding-left: 5px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-sala .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-sala .field-item {
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .view-field-title,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .view-field-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 10px;
  margin-top: 5px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .view-field-title a,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .view-field-title a {
  color: #008f95;
  line-height: 26px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .view-field-title a:hover,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .view-field-title a:hover {
  text-transform: inherit;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-tipus-entorn{
	text-align:center;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-tipus-entorn .field-item{
font-size: 11px;
text-transform: uppercase;
font-weight: 600;
border-bottom: 1px solid #9c9e9f;
padding-bottom: 3px;
line-height: 13px;
margin-bottom: 5px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-autor div,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-rol-destacat div,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-autor div,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-rol-destacat div {
  font-size: 14px;
  text-transform: uppercase;
  color: #58595a;
  padding-left: 5px;
  line-height: 16px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-autor div,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-autor div {
  font-weight: 700;
  margin-top: 5px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .grup_entorn,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .grup_entorn {
  padding: 5px 0 0 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  color: #008f95;
  /** amaguem a l'entorn si esta buit **/
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .grup_entorn:last-child,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .grup_entorn:last-child {
  display: none;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn {
  text-transform: uppercase;
  color: #58595a;
  padding: 0 40px 0 10px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item {
  border-bottom: 1px solid #cdcecf;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item:last-of-type,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item:last-of-type {
  border: none;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser {
  padding-bottom: 5px;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala div,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data span,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-tipus-entorn .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-tipus-entorn,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala div,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-sala .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data span,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-data .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-tipus-entorn .field-item,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-tipus-entorn {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  background-color: #f4f4f5;
  color: #58595a;
  font-weight: 400;
  padding: 0;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser h2.node-title,
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser h2.node-title a,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser h2.node-title,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser h2.node-title a {
  font-weight: 800;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  display: block;
}
.llista-fitxa.views-view-grid.cols-4 tr .espectacle .field-name-field-entorn .field-item .entorn_teaser .field-name-field-autor div,
.llista-fitxa.views-view-grid.cols-4 tr .entorn .field-name-field-entorn .field-item .entorn_teaser .field-name-field-autor div {
  display: inline-block;
  font-size: 11px;
  color: #58595a;
  font-weight: 400;
  padding: 0;
  text-transform: none;
  margin-top: 0;
}


/* formulari */
.icontent label {
display: block;
font-weight: bold;
width: 32.3%;
float: left;
margin-bottom: 20px;
padding-right: 1%;
}
.icontent label.extra_large {
width: 44%;
}

.icontent .form-row{
	clear:both;
}
.icontent input, .icontent textarea{
background:#e5f4f6;
border:0;
padding-left:8px;
width:100%;
}
.icontent .radiogrup span.radios{
float: left;
display: block;
width: 100%;
}
.icontent .radiogrup{
display:block;
width: 30%;
float: left;
margin-right:10px;
margin-bottom: 20px;
}
.icontent .radiogrup.extra_large{
width: 38%;
}
.icontent .radiogrup label{width:100%; margin-bottom: 0;}
.icontent label.radio{width:auto}
.icontent input[type="radio"]{width: auto;}
.icontent input[type="checkbox"]{width: auto;}

.icontent fieldset{
padding: 0;
}
.icontent .content-form hr{
width:89.5%;
}


/* 2col */

.icontent .row{clear:both; margin: 0px 78px 0px 0px}
.icontent .col-span3{width:25%; float:left}
.icontent .col-span6{width:50%; float:left}
.icontent .col-span9{width:75%; float:left}
.icontent .row .colcontent{padding-right:20px}
.icontent .row h3{
clear: inherit;
color:#58595b
}


@media all and (max-width: 699px) {

  .llista-fitxa table,
  .llista-fitxa tbody,
  .llista-fitxa tr,
  .llista-fitxa td {
    width: 100%!important;
    display: block!important;
  }
  .llista-fitxa td {
    float: left!important;
	margin-left:0!important;
	margin-right:0!important;
  }
}